* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(15, 15, 31);
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    color: rgb(208, 215, 226);
    border-radius: 8px;
    background-color: rgb(26, 23, 27);
    padding: 8px 16px;
    margin: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.container {
    width: 900px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
}

.pixel {
    background-color: black;
}